
body {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #0b0f1a; /* dark background */
    color: #ffffff;            /* white text */
}

			header {
				    text-align: center;
				        margin-bottom: 40px;
				}
				/*Paragraph under "About me""*/
				h1 {
					    color: #ffffff;
				    }

				    section {
					        margin-bottom: 30px;
					}

					.project {
						   	background-color: #1c1f2a; /* slightly lighter dark card */
    						padding: 15px;
							margin-bottom: 15px;
							border-radius: 8px;
							box-shadow: 0 2px 4px rgba(0,0,0,0.5);
							color: white; /* ensures text inside the card is white */
									}

